html{
    font-family: 'hk_groteskregular', Arial, sans-serif;
}

/*navigation bar*/
nav{
    position: fixed;
    width: 100%;
    background: white;
    /*    display: none;*/
}
nav a{
    float: left;
}

a{
    text-decoration: none;
    color: black;
}

nav li a, nav a{
    padding: 2% 4% 2% 4%;
}

nav a:nth-child(2), nav a:nth-child(3){
    float: right;
    right: 0;
}

.clear{
    clear: both;
}


/*main content*/



/*two col splash and text*/
.splash{
    width: 45%;
    margin: 0 auto;
    margin: 0;
    padding-top: 10%;
    position: absolute;
    top: 35%;
    left: 3%;
    transform: translate(0%, -40%);
}


.textbox-center{
    margin: 0 auto;
    margin: 0;
    padding-top: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    color: white;
    width: 40%;
}


/*center splash and text*/
/*
.splash{
width: 35%;
margin: 0 auto;
margin: 0;
padding-top: 10%;
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);   
}

.textbox-center{
margin: 0 auto;
margin: 0;
padding-top: 30%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
width: 40%;
}
*/

.fullscreen{
    background: #306060;
    height: 100vh;
    width: 100%;
}


h1{
    font-family: "hk_groteskbold", sans-serif;
    font-size: 3rem;
    margin-bottom: 1.4rem;
}

h3{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #EAC25C;
}

/*
.second-section, .third-section{
    position: absolute;
    width: 100%;
}
*/


.second-section, .third-section{
    padding-top: 4%;
    padding-bottom: 4%;
}

.third-section{
    background: #E07E46;
    color: #fff;
}

.textbox-left{
    margin: 0 auto;
    margin-left: 4%;
    width: 30%;
    float: left;
}

.textbox-right{
    margin: 0 auto;
    margin-left: 4%;
    width: 30%;
    float: left;
}

h2{
    font-family: "hk_groteskbold", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

p{
    font-size: 1rem;
    line-height: 1.4rem;
}

.gallery1{
    margin-left: 50%;
}

.gallery2{   
    margin-right: 50%;
}

.initial-screens2{
    width: 40%;
    float: left;
}

.initial-screens{
    width: 40%;
    float: right;
}